Flask==1.1.1
Flask-Admin==1.5.4
Flask-Bootstrap==3.3.7.1
Flask-Cors==3.0.8
Flask-HTTPAuth==3.3.0
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.2
Jinja2==2.10.3
jinja2-time==0.2.0
jsonschema==3.2.0
more-itertools==7.2.0
multidict==4.7.4
python-dateutil==2.8.1
python-decouple==3.5
redis==3.5.3
requests==2.22.0
requests-toolbelt==0.9.1
uritemplate==3.0.0
urllib3==1.25.7
websocket-client==0.56.0
Werkzeug==0.16.0
WTForms==2.2.1
